<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <!-- Quando si distribuisce il progetto della libreria di servizi, è necessario aggiungere il contenuto del file di configurazione al file 
  app.config dell'host. System.Configuration non supporta i file di configurazione delle librerie. -->

  <system.serviceModel>

    <services>
      <service name="FinalService.Service1">

        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding" contract="FinalService.IService1">
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.137.1:8733/Service/" />
          </baseAddresses>
        </host>

      </service>
    </services>

    <bindings>

      <wsHttpBinding>
        <binding name="wsHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" messageEncoding="Text" textEncoding="utf-8" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" useDefaultWebProxy="true">

          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>


    </bindings>

    <behaviors>
      <serviceBehaviors>

        <behavior>
          <!-- Per evitare la diffusione di informazioni sui metadati, 
          impostare i valori seguenti su false prima della distribuzione -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- Per ricevere i dettagli sull'eccezione per scopi di debug in caso di guasti, 
          impostare il valore riportato sotto su true. Impostarlo su false prima della diffusione 
          per evitare di diffondere informazioni sull'eccezione -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>

      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
